body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
}


nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before,
nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
}


#indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover {
    color: #fff;
}

nav a:hover:before,
nav a:hover:after {
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, lightblue, blue);
}

nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}

.rounded-box {
    position: absolute;
    border: 2px solid blue;
    z-index: 2;
    top: 50%;
    right: 0;
    left: 0;
    height: 70px;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
    border-radius: 10px;
}
.hexagonCanvas {
    z-index: 1;
}

/* Demo */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Color Variables */
/* Social Icon Mixin */
/* Social Icons */
.social-icons {
    position: absolute;
    display: flex;
    z-index: 3;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
}
.social-icon:hover {
    color: #fff;
}
.social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -150%);
}
.social-icon:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--linkedin {
    background: #006599;
    color: #fff;
}
.social-icon--linkedin .tooltip {
    background: #006599;
    color: currentColor;
}
.social-icon--linkedin .tooltip:after {
    border-top-color: #006599;
}
.social-icon--twitter {
    background: #2b97f1;
    color: #fff;
}
.social-icon--twitter .tooltip {
    background: #2b97f1;
    color: currentColor;
}
.social-icon--twitter .tooltip:after {
    border-top-color: #2b97f1;
}
.social-icon--codepen {
    background: #000;
    color: #fff;
}
.social-icon--codepen .tooltip {
    background: #000;
    color: currentColor;
}
.social-icon--codepen .tooltip:after {
    border-top-color: #000;
}
.social-icon--facebook {
    background: #3b5a9b;
    color: #fff;
}
.social-icon--facebook .tooltip {
    background: #3b5a9b;
    color: currentColor;
}
.social-icon--facebook .tooltip:after {
    border-top-color: #3b5a9b;
}
.social-icon--instagram {
    background: #527fa6;
    color: #fff;
}
.social-icon--instagram .tooltip {
    background: #527fa6;
    color: currentColor;
}
.social-icon--instagram .tooltip:after {
    border-top-color: #527fa6;
}
.social-icon--dribbble {
    background: #ef5a92;
    color: #fff;
}
.social-icon--dribbble .tooltip {
    background: #ef5a92;
    color: currentColor;
}
.social-icon--dribbble .tooltip:after {
    border-top-color: #ef5a92;
}
.social-icon--github {
    background: #4284c0;
    color: #fff;
}
.social-icon--github .tooltip {
    background: #4284c0;
    color: currentColor;
}
.social-icon--github .tooltip:after {
    border-top-color: #4284c0;
}
.social-icon i {
    position: relative;
    top: 1px;
}

/* Tooltips */
.tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;
}
.tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}