body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#hexagonCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* Zusätzlicher Stil für das weiße Hexagon */
.white-hexagon {
    position: absolute;
    top: 0;
    left: 0;
}